.headerU {
    text-align: left;
}

.divUno {
    border: 2px blue solid;
    background-color: white;
    width: 50%;
}

.divDos {
    border: 2px blue solid;
    background-color: white;

}

.formSeis {
    background-color: white;
}

.headerUno {
    background-color: white;
    width: 1328px
}

.headerDos {
    background-color: white;
    width: 1328px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

.headerTres {
    background-color: white;
    width: 1328px;
}

.headerCuatro {
    background-color: white;
    width: 1328px;
}

.headerCinco {
    background-color: white;
    width: 1328px;

}

.tituloUno {
    background-color: rgb(2, 2, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.tituloDos {
    background-color: rgb(2, 2, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

.tituloTres {
    background-color: rgb(2, 2, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.tituloCuatro {
    background-color: rgb(2, 2, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.tituloCinco {
    background-color: rgb(2, 2, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: 140px;
}

li {
    list-style-type: none;
    display: inline-block;
}

.divTres {
    background-color: white;
}

.tituloTdos {
    background-color: white;
}

.parrafoTres {
    background-color: white;
}



.mainTres {
    background-color: white;
}

.formContacto {

    text-align: center;
    background-color: rgb(255, 255, 255);

    border: 2px rgb(2, 2, 128) dashed;
}

.divCuatro {
    background-color: white;
}


.casauno {
    width: 500px;
    height: 500px;
}

footer {
    background-color: white;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
    margin-top: 100px;
}
    